.countdownContainer {
    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: var(--title);
    animation: fadeContainer 2s;
}

.countdownContainer.darkModeIsActive {
  color: var(--text-dark-mode);
}

.countdownContainer > div {

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0,05);
    border-radius: 5px;

    font-size: 8.5rem;
    text-align: center;
}


.countdownContainer > div span {
    flex: 1;
}

.countdownContainer.darkModeIsActive > div span{
  background: #2E3236;
}

.countdownContainer > div span:first-child {

    border-right: 1px solid #f0f1f3;
}

.countdownContainer.darkModeIsActive > div span:first-child {

  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.countdownContainer > div span:last-child {

    border-left: 1px solid #f0f1f3;
}

.countdownContainer.darkModeIsActive > div span:last-child {

  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.countdownContainer > span {

    font-size: 6.25rem;
    margin: 0 0.5rem;
}

.countdownButton {
    width: 100%;
    height: 5rem;

    margin-top: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    background: var(--blue);
    color: var(--white);

    font-size: 1.25rem;
    font-weight: 600;

    outline: none;
}

.countdownButton:not(:disabled):hover {
    transition: background-color 0.2s;
    background: var(--blue-dark);
}

.countdownButtonActive {
  background-color: var(--white);
  color: var(--title);
}

.countdownButtonActive.darkModeIsActive {
  background-color: #2E3236;
  color: var(--text-dark-mode);
}


.countdownButtonActive:not(:disabled):hover {
  background-color: var(--red);
  color: var(--white);
}

.countdownButton:disabled {

  position: relative;
  background: var(--white);
  color: var(--title);
  cursor: not-allowed;
}

.countdownButton.darkModeIsActive:disabled {

  position: relative;
  background: #2E3236;
  color: var(--text-dark-mode);
  cursor: not-allowed;
}


.countdownButton:disabled::after {

  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: var(--green);
  left: 0;
  bottom: 0;

  animation: underline 0.3s;
}

@keyframes underline {

  from {
    transform: scale(0, 1);
  }

  to {
    transform: scale(1, 1);
  }
}
